@charset "UTF-8";

@import "_mixin";

// 小さいメモに関するスタイル設定
.memoWrap div.memo{
  @include memoAndBtnSizeChange(220px, 220px);
  &:first-of-type{
    margin-left: 25px;
  }
  h3{
    float: left;
  }
  .smallDeletebtn{
    float: right;
    box-sizing: border-box;
    width: 15%;
    height: 15%;
    font-size: 30px;
  }
  .smallMemoContent{
    clear: both;
  }

  // ↓↓メモ部分のレスポンシブ　ここから
  @media(min-width: 1008px){
    &:nth-of-type(4n){
      margin-right: 0;
    }
    &:nth-of-type(4n+1){
      margin-left: 20px;
    }
  }

  @media(max-width: 1007px){
    @include memoAndBtnSizeChange(250px, 250px);
    &:nth-of-type(3n){
      margin-right: 0;
    }
    &:nth-of-type(3n+1){
      margin-left: 25px;
    }
  }

  @media(max-width: 907px){
    margin-right: 25px;
  }

  @media(max-width: 857px){
    @include memoAndBtnSizeChange(220px, 220px);
    margin-left: 10px;
  }

  @media(max-width: 807px){
    margin-left: 15px;
    margin-right: 15px;
    &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
      margin-left: 15px;
      margin-right: 15px;
    }
  }

  @media(max-width: 765px){
    @include memoAndBtnSizeChange(40%, 250px);
    .writeTime{
      font-size: 15px;
    }
    .openBtn{
      padding: 0 8px 10px;
    }
  }

  @media(max-width: 650px){
    @include memoAndBtnSizeChange(45%, 240px);
    margin: 10px;
    &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
      margin: 10px;
    }
  }

  @media(max-width: 549px){
    @include memoAndBtnSizeChange(45%, 220px);
  }

  @media(max-width: 500px){
    @include memoAndBtnSizeChange(70%, 280px);
    margin: 10px auto;
    &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
      margin: 10px auto;
    }
  }

  @media(max-width: 400px){
    @include memoAndBtnSizeChange(80%, 250px);
      margin: 10px auto;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin: 10px auto;
    }
  }

  @media(max-width: 425px){
    @include memoAndBtnSizeChange(80%, 250px);
    .writeTime{
      font-size: 16px;
    }
    .openBtn{
      font-size: 16px;
    }
  }
} //end .memoWrap div.memo
