@charset "UTF-8";

.memoWrapp{
  div{
    &:first-of-type{
      margin-left: 25px;
    }
    @media(min-width: 991px){
      &:nth-of-type(4n){
        margin-right: 0;
      }
      &:nth-of-type(4n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 990px){
      width:250px;
      height: 250px;
      &:nth-of-type(3n){
        margin-right: 0;
      }
      &:nth-of-type(3n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 900px){
      margin-right: 25px;
    }
    @media(max-width: 840px){
      width:200px;
      height: 200px;
      margin-left: 50px;
    }
    @media(max-width: 790px){
      margin-left: 15px;
      margin-right: 15px;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    @media(max-width: 705px){
      width: 40%;
      height: 250px;
    }
    @media(max-width: 624px){
      width: 45%;
      height: 200px;
      margin: 10px auto;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin: 10px auto;
      }
    }
    @media(max-width: 460px){
      width: 80%;
      height: 250px;
    }
  }
}
