@charset "UTF-8";

@import "_mixin";

.memoWrap{
  div.memo{
    &:first-of-type{
      margin-left: 25px;
    }
    @media(min-width: 1008px){
      &:nth-of-type(4n){
        margin-right: 0;
      }
      &:nth-of-type(4n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 1007px){
      @include memoSize(250px, 250px);
      &:nth-of-type(3n){
        margin-right: 0;
      }
      &:nth-of-type(3n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 907px){
      margin-right: 25px;
    }
    @media(max-width: 857px){
      @include memoSize(200px, 200px);
      margin-left: 50px;
    }
    @media(max-width: 807px){
      margin-left: 15px;
      margin-right: 15px;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin-left: 15px;
        margin-right: 15px;
      }
    }
    @media(max-width: 722px){
    @include memoSize(40%, 250px, 30, 12, 30px);
      .writeTime{
        font-size: 15px;
      }
      .openBtn{
        padding: 0 8px 10px;
      }
    }
    @media(max-width: 624px){
    @include memoSize(45%, 200px, 35, 15, 30px);
      margin: 10px;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin: 10px;
      }
    }
    @media(max-width: 500px){
    @include memoSize(80%, 250px, 16, 16, 30px);
      margin: 10px auto;
      &:first-of-type,&:nth-of-type(3n+1),&:nth-of-type(3n){
        margin: 10px auto;
      }
    }
    @media(max-width: 425px){
      .writeTime{
        font-size: 17px;
      }
      .openBtn{
        font-size: 17px;
      }
    }
    @media(max-width: 374px){
    @include memoSize(80%, 250px, 20, 14, 30px);
    .writeTime{
      font-size: 16px;
    }
    .openBtn{
      font-size: 16px;
    }
    }
  }
}
