body{
  background:#fff;
}
div.memoView{
  // display: none;
  box-sizing: border-box;
  position: fixed;
  //レイアウトの設定
  width: 50%;
  height: 80vh;
  margin: 8vh 0 12vh 0;
  padding:20px;
  border: solid 2px #dcdcdc;
  .title{
    width: 80%;
    float: left;
    margin: 0;
    padding-bottom: 20px;
  }
  //リンクの設定
  #closeMemo{
    cursor: pointer;
    //表示の設定
    float: right;
    width: 20%;
    text-align: right;
    text-decoration: none;
    //色の設定
    color: #000;
    opacity: 0.65;
    &:hover, &:active{
    opacity: 1;
  }
}
//テキスト部分の調整
div#memoText{
  clear: both;
  width: 80%;
}
    //画面の手前に表示
  z-index: 2;
  .show{
    opacity: 1;
    visibility: visible;
  }
}

#overlay{
  z-index: 1;
  display: none;
  position: fixed;
  top: 0;
  left: 0;
  //大きさを指定
  width: 100%;
  height: 120%;
  background-color: #000;
  opacity: 0.75;
}
