// リセットCSS
@charset "UTF-8";

@import "_mixin";

* {
  color: #000;
  background: #fff;
  text-align: left;
  box-sizing: border-box;

  a {
    text-decoration: none;
    color: #000;
    opacity: 0.65;

    &:hover,
    &:active {
      opacity: 1;
    }
  }

  ul li,
  ol li {
    list-style-type: none;
  }
}

// メインのスタイル設定
body {
  background: #fff;
  font-family: 'ＭＳ Ｐ ゴシック', sans-serif;
  margin: 8px;

  // 見出しの設定
  h1 {
    font-weight: normal;
    font-size: 200%;
    color: #000;
  }
}

.container {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

// テキストボックスのスタイル
form {
  input#memoTitle {
    width: 50%;
    height: 30px;
    margin-bottom: 20px;
  }
  textarea {
    resize: none; // 大きさを変更できないようにする
    width: 100%;
    height: 150px;
    font-size: 20px;
  }

}

.submit_btn {
  cursor: pointer;
  width: 200px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: rgb(143, 210, 255);
  // border-color:rgb(86, 240, 206);
  border-radius: 5px;
}
.edit_btn{
  background: #6da76d;
}

//メモゾーン

.memoWrap {
  display: flex;
  margin-top: 100px;
  flex-flow: row wrap;
  justify-content: start;

  div.memo {
    position: relative;
    @include memoSize(200px, 200px);
    margin-right: 50px;
    margin-bottom: 50px;
    border: 1px solid #000;
    
    border-radius: 15px;
    overflow:hidden;

    h3{
      margin: 0;
      font-size: 1.15em;
      padding: 8px;
      box-sizing: border-box;
    }


    .smallMemoContent {
      margin: 0;
      padding: 0 10px 5px 10px;
    }

    // 削除ボタン
    .delete_btn {
      cursor: pointer;
      font-family: 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
      font-weight: bold;
      text-align: center;
      padding: 0;
      // 右上に表示
      position: absolute;
      top: 0;
      right: 0;
      margin-top: 5px;
      margin-right: 5px;
      // 色などを指定
      opacity: 0.7;
      $red: rgb(255, 112, 112);
      $brown: rgb(48, 32, 0);
      background-color: $red;
      color: #fff;
      border: 1.2px solid $brown;
      font-weight: bold;
      border-radius: 10px;

      &:hover,
      &:active {
        transition: 0.2s;
        opacity: 1;
      }
    }
  }

  // memo のレイアウトここまで
  // 日時表示のレイアウト
  .openMemo{
    cursor: pointer;
    padding: 0 8px 10px 8px;
    // 位置
    position: absolute;
    bottom: 0;
    width: 100%;
    box-sizing: border-box;
    background: transparent;
    opacity: 0.65;

    &:hover,
    &:active {
      opacity: 1;
      transition: 0.2s;
    }
  }
  .writeTime{
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    padding: 0 8px 10px;
    font-size: 12px;
    background: transparent;
  }
  // 「メモを開く」リンクの設定
  .openBtn {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    padding: 0 8px 8px 8px;
    font-size: 15px;
    background: transparent;
  }
}

@import "_memo_size.scss";
