@charset "UTF-8";

.memoWrapp{
  div{
    &:first-of-type{
      margin-left: 25px;
    }
    @media(min-width: 991px){
      &:nth-of-type(4n){
        margin-right: 0;
      }
      &:nth-of-type(4n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 990px){
      width:250px;
      height: 250px;
      &:nth-of-type(3n){
        margin-right: 0;
      }
      &:nth-of-type(3n+1){
        margin-left: 25px;
      }
    }
    @media(max-width: 900px){
      margin-right: 25px;
    }
    @media(max-width: 840px){
      width:200px;
      height: 200px;
      margin-left: 50px;
    }
    @media(max-width: 320px){
      width: 80%;
      height: 280px;
      margin: 0 auto;
    }
  }
}
