html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/memo_content.css")

  body
    div.memoView
      div.memoText= memoContent
      div#closeMemo= 'メモを閉じる'
    div#overlay
    script(src="/js/memoOpen.js")
