<div id="overLay"></div>
<div id="memoView">
  <h2>タイトル</h2>

  <div id="btnBox">
    <div id="editMemo">編集</div>
    <div id="deleteMemo">削除</div>
    <div id="closeMemo">閉じる</div>
  </div><!-- /#btnBox -->

  <div id="memoText">
    <%= memoContent.content; %>
  </div><!-- /#memoText -->
</div><!-- /div#memoView -->
