html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/memo_content.css")

  body
    div.memoView
      h2.title タイトル
      div#btnBox
        div#editMemo= '編集'
        div#deleteMemo= '削除'
        div#closeMemo= '閉じる'
      div#memoText !{JSON.stringify(memoContent)}
      div#overlay
    script(src="/js/memoContentView.js")
    script(src="/js/memoOpen.js")
