html
  head
    meta(charset="utf-8")
    link(rel="stylesheet" href="/css/memo_content.css")

  body
    div.memoView
      div#memoText !{JSON.stringify(memoContent, replacer)}
      a(href="/")#closeMemo= 'メモを閉じる'
      div#overlay
    script(src="/js/memoContentView.js")
    script(src="/js/memoOpen.js")
