@charset "UTF-8";
* {
  color: #000;
  background: #fff;
  text-align: left;
  box-sizing: border-box;
}

* a {
  text-decoration: none;
  color: #000;
  opacity: 0.65;
}

* a:hover, * a:active {
  opacity: 1;
}

* ul li, * ol li {
  list-style-type: none;
}

body {
  background: #fff;
  font-family: 'ＭＳ Ｐ ゴシック', sans-serif;
}

body h1 {
  font-weight: normal;
  font-size: 200%;
  color: #000;
}

.container {
  max-width: 1000px;
  height: auto;
  margin: 0 auto;
}

form textarea {
  resize: none;
  width: 100%;
  height: 150px;
  font-size: 20px;
}

.submit_btn {
  width: 200px;
  height: 50px;
  font-size: 25px;
  font-weight: bold;
  text-align: center;
  color: #fff;
  background-color: #8fd2ff;
  border-radius: 5px;
}

.memoWrapp {
  display: flex;
  margin-top: 100px;
  flex-flow: row wrap;
  justify-content: start;
}

.memoWrapp div.memo {
  position: relative;
  width: 200px;
  height: 200px;
  margin-right: 50px;
  margin-bottom: 50px;
  border: 1px solid #000;
}

.memoWrapp div.memo .delete_btn {
  width: 30px;
  height: 30px;
  line-height: 28px;
  font-size: 28px;
}

.memoWrapp div.memo form#delete {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
}

.memoWrapp div.memo label div {
  margin: 0;
  padding: 10px;
}

.memoWrapp div.memo .delete_btn {
  font-family: 'ＭＳ ゴシック', 'Hiragino Kaku Gothic ProN', sans-serif;
  font-weight: bold;
  text-align: center;
  padding: 0;
  position: absolute;
  top: 0;
  right: 0;
  margin-top: 5px;
  margin-right: 5px;
  opacity: 0.7;
  background-color: #ff7070;
  color: #fff;
  border: 1.2px solid #302000;
  font-weight: bold;
  border-radius: 10px;
}

.memoWrapp div.memo .delete_btn:hover, .memoWrapp div.memo .delete_btn:active {
  opacity: 1;
}

.memoWrapp a.openMemo {
  position: absolute;
  right: 0;
  bottom: 0;
  margin-right: 10px;
  margin-bottom: 10px;
  font-size: 15px;
}

.memoWrapp div.memo:first-of-type {
  margin-left: 25px;
}

@media (min-width: 1008px) {
  .memoWrapp div.memo:nth-of-type(4n) {
    margin-right: 0;
  }
  .memoWrapp div.memo:nth-of-type(4n+1) {
    margin-left: 25px;
  }
}

@media (max-width: 1007px) {
  .memoWrapp div.memo {
    width: 250px;
    height: 250px;
  }
  .memoWrapp div.memo .delete_btn {
    width: 37.5px;
    height: 37.5px;
    line-height: 35.5px;
    font-size: 35.5px;
  }
  .memoWrapp div.memo:nth-of-type(3n) {
    margin-right: 0;
  }
  .memoWrapp div.memo:nth-of-type(3n+1) {
    margin-left: 25px;
  }
}

@media (max-width: 907px) {
  .memoWrapp div.memo {
    margin-right: 25px;
  }
}

@media (max-width: 857px) {
  .memoWrapp div.memo {
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }
  .memoWrapp div.memo .delete_btn {
    width: 30px;
    height: 30px;
    line-height: 28px;
    font-size: 28px;
  }
}

@media (max-width: 807px) {
  .memoWrapp div.memo {
    margin-left: 15px;
    margin-right: 15px;
  }
  .memoWrapp div.memo:first-of-type, .memoWrapp div.memo:nth-of-type(3n+1), .memoWrapp div.memo:nth-of-type(3n) {
    margin-left: 15px;
    margin-right: 15px;
  }
}

@media (max-width: 722px) {
  .memoWrapp div.memo {
    width: 40%;
    height: 250px;
  }
  .memoWrapp div.memo .delete_btn {
    width: 12%;
    height: 30px;
    line-height: 28px;
    font-size: 28px;
  }
}

@media (max-width: 624px) {
  .memoWrapp div.memo {
    width: 45%;
    height: 200px;
    margin: 10px;
  }
  .memoWrapp div.memo .delete_btn {
    width: 15.75%;
    height: 30px;
    line-height: 28px;
    font-size: 28px;
  }
  .memoWrapp div.memo:first-of-type, .memoWrapp div.memo:nth-of-type(3n+1), .memoWrapp div.memo:nth-of-type(3n) {
    margin: 10px;
  }
}

@media (max-width: 460px) {
  .memoWrapp div.memo {
    width: 80%;
    height: 250px;
    margin: 10px auto;
  }
  .memoWrapp div.memo .delete_btn {
    width: 12.8%;
    height: 40px;
    line-height: 38px;
    font-size: 28px;
  }
  .memoWrapp div.memo:first-of-type, .memoWrapp div.memo:nth-of-type(3n+1), .memoWrapp div.memo:nth-of-type(3n) {
    margin: 10px auto;
  }
}

@media (max-width: 374px) {
  .memoWrapp div.memo {
    width: 80%;
    height: 250px;
  }
  .memoWrapp div.memo .delete_btn {
    width: 16%;
    height: 35px;
    line-height: 33px;
    font-size: 28px;
  }
}
