.memoWrapp div:first-of-type {
  margin-left: 25px;
}

@media (min-width: 991px) {
  .memoWrapp div:nth-of-type(4n) {
    margin-right: 0;
  }
  .memoWrapp div:nth-of-type(4n+1) {
    margin-left: 25px;
  }
}

@media (max-width: 990px) {
  .memoWrapp div {
    width: 250px;
    height: 250px;
  }
  .memoWrapp div:nth-of-type(3n) {
    margin-right: 0;
  }
  .memoWrapp div:nth-of-type(3n+1) {
    margin-left: 25px;
  }
}

@media (max-width: 900px) {
  .memoWrapp div {
    margin-right: 25px;
  }
}

@media (max-width: 840px) {
  .memoWrapp div {
    width: 200px;
    height: 200px;
    margin-left: 50px;
  }
}

@media (max-width: 320px) {
  .memoWrapp div {
    width: 80%;
    height: 280px;
    margin: 0 auto;
  }
}
